$primary-color: #e31537; // 工行红

// text
$primay-text-color: #ccc; // 正常文本
$second-text-color: #eee; // 单一点文本

// 信息提示
$primary-info-color: blue;
$warning-info-color: yellow;
$error-info-color: red;
$success-info-color: green;
$default-info-color: $primay-text-color;
