// size
$sm-size: 12px;
$md-size: 14px;
$lg-size: 16px;
$xs-size: 18px;
$xxs-size: 24px;

// layout
$padding-sizes: (
  sm: 4px,
  md: 8px,
  lg: 16px,
  xs: 20px,
);
$margin-sizes: (
  sm: 4px,
  md: 8px,
  lg: 16px,
  xs: 20px,
);

// button

// border

// background
$primary-background-color: #ccc;
$second-background-color: #fff;

// list

// descript

// form

// tab

// link
